/*Please do not make any changes in the given template*/
h1{
    text-align: center;
}
body{
    background-color: #F18A85;
    margin-left: 50px;
}
h1{
    text-decoration: underline;
    color: #24788F;
}
p{
    font-size: 24px;
    margin-top: 50px;
    color:white;
    
}